<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.may-june-july.2FAMailCodes</string>
	<key>connections</key>
	<dict>
		<key>2305F841-1106-4B1D-BAC8-5C392F915A03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0AE6BD8-4070-4AC7-9B02-10F09F945681</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54FC2D9C-1219-42FD-9206-D2C15314831C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2305F841-1106-4B1D-BAC8-5C392F915A03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>985E4534-ACCE-408E-9DD5-27BE4048784D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54FC2D9C-1219-42FD-9206-D2C15314831C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3C2F0D33-AE61-4159-9ED4-0BAAECB12519</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1CCA9A0-99EC-46DB-BF61-E17A96EE7B1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E18EA93-A903-43E8-9CCA-1325C78C06C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0AE6BD8-4070-4AC7-9B02-10F09F945681</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD250C70-F3E6-436F-A6F2-875DF81420A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD250C70-F3E6-436F-A6F2-875DF81420A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34048ED5-DBA8-41F9-A311-7141456C517E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2C0AD88-4AC9-432C-9E8C-3729F7CFCCA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>985E4534-ACCE-408E-9DD5-27BE4048784D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B1CCA9A0-99EC-46DB-BF61-E17A96EE7B1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>May June July</string>
	<key>description</key>
	<string>Extract verification codes from Mail.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>2FA Email Codes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>delete_mail.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2305F841-1106-4B1D-BAC8-5C392F915A03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./notificator --title "2FA Mail Codes" --message "❌️ Failed to delete email" --sound 'Basso'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34048ED5-DBA8-41F9-A311-7141456C517E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Succeeded</string>
						<key>uid</key>
						<string>4FBAA9EE-FEEA-4AE3-8181-5821FD91E74F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C0AE6BD8-4070-4AC7-9B02-10F09F945681</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:messageId}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>54FC2D9C-1219-42FD-9206-D2C15314831C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:move_to_trash_after_extracting}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Move to Trash</string>
						<key>uid</key>
						<string>3C2F0D33-AE61-4159-9ED4-0BAAECB12519</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>985E4534-ACCE-408E-9DD5-27BE4048784D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>CD250C70-F3E6-436F-A6F2-875DF81420A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:main_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading emails…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>mail_code.js</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Extract 2FA codes from Mail.app</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2C0AD88-4AC9-432C-9E8C-3729F7CFCCA1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B1CCA9A0-99EC-46DB-BF61-E17A96EE7B1F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./notificator --title "2FA Mail Codes" --message "✅ Code $1 Extracted" --sound 'Funk'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E18EA93-A903-43E8-9CCA-1325C78C06C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># 2FA Email Codes

Extract 2FA codes from Apple’s Mail.app with Alfred.

## Usage

Extract verification codes from Mail.app via the keyword `mailcode`.

![Extract verification code via keyword](images/showcase_1.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Copy code and paste to frontmost app.</string>
	<key>uidata</key>
	<dict>
		<key>2305F841-1106-4B1D-BAC8-5C392F915A03</key>
		<dict>
			<key>note</key>
			<string>Delete email</string>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>34048ED5-DBA8-41F9-A311-7141456C517E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Notificator to post notifications
https://github.com/vitorgalvao/notificator</string>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>54FC2D9C-1219-42FD-9206-D2C15314831C</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>7E18EA93-A903-43E8-9CCA-1325C78C06C1</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>985E4534-ACCE-408E-9DD5-27BE4048784D</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>B1CCA9A0-99EC-46DB-BF61-E17A96EE7B1F</key>
		<dict>
			<key>note</key>
			<string>Copy and paste code</string>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>C0AE6BD8-4070-4AC7-9B02-10F09F945681</key>
		<dict>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>CD250C70-F3E6-436F-A6F2-875DF81420A0</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>E2C0AD88-4AC9-432C-9E8C-3729F7CFCCA1</key>
		<dict>
			<key>note</key>
			<string>Filter emails with codes</string>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mailcode</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>main_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Move email to Trash after extracting</string>
			<key>label</key>
			<string>Move Email to Trash</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>move_to_trash_after_extracting</string>
		</dict>
	</array>
	<key>version</key>
	<string>2026.1</string>
	<key>webaddress</key>
	<string>https://github.com/April-June-August/Alfred--2FA-Mail-Code</string>
</dict>
</plist>
