# Generated / runtime
nvim/plugged/
nvim/.netrwhist
nvim/.lsp*/
nvim/.ts*/
nvim/.mypy_cache/
node_modules/
*.pyc
__pycache__/
.DS_Store
*.swp
*.swo
*.tmp
*.un~
outcome.png

# Local overrides
.zshrc.local
.tmux.conf.local
.viminfo
