{
  "sourcePaths": [
    "src/main/java",
    "src/test/java"
  ],
  "testSourcePaths": [
    "src/test/java"
  ],
  "outputPath": "out",
  "referencedLibraries": [
    "~/libs/java/**/*.jar"
  ],
  "mainClass": "com.example.Main",
  "jdkHome": "~/jdks/temurin-17.jdk/Contents/Home"
}
